/* Header */
header{
  height: 72px;
  background-color: #66cdaa;
  display: flex;
  justify-content: space-between;
}
h1{
  color: aliceblue;
  font-size: 24px;
  margin: 25px 16px;
}
#title{
  text-decoration: none;
}
#nav{
  text-decoration: none;
}
h2{
  height: 50px;
  font-size: 16px;
  border-bottom: 1px solid aliceblue;
  line-height: 80px;
  margin: 0 16px 0 0;
  color: aliceblue;
}

/* ThreadList */
.thread{
  background-color: #f0e68c;
  width: 600px;
  margin: 10px auto;
  padding: 16px;
}
h3{
  margin: 30px 10px 16px;
  font-size: 20px;
}
.thread button{
  margin-top: 30px;
}
.threadList{
  background-color: aliceblue;
  border:solid 2px #4d4d4d;
  width: 400px;
  margin: 0 auto;
}
.threadList p{
  font-size: 18px;
  padding-left: 16px;
}
.threadList div{
  border-bottom: solid 1px #4d4d4d; 
}
.threadList div:last-child{
  margin-bottom: 0;
  border-bottom:none;
}

/* NewThread */
.newThread{
  background-color: #f0e68c;
  width: 500px;
  height: 200px;
  margin: 80px auto 0 auto;
  text-align: center;
}
.newThread input{
  margin-top: 100px;
  margin-left: 20px;
}
.submenu{
  margin: 36px;
}
.submenu button{
  margin-left: 30px;  
}

/* SubmitList */
.res{
  background-color: aliceblue;
  border:solid 2px #4d4d4d;
  width: 400px;
  margin: 0 auto;
}
.text{
  font-size: 14px;
  border-bottom: solid 1px #4d4d4d; 
  padding-left: 16px;
}
.res p{
  border-bottom: solid 1px #4d4d4d; 
  padding-left: 16px;
}
.res p:last-child{
  margin-bottom: 0;
  border-bottom:none;
}
.submit{
  margin: 30px auto;
  text-align: center;
}
textarea{
  font-size: 12px;
  height: 100px;
  width: 200px;
  padding: 12px;
}
.submit button{
  margin: 16px;
}